{% extends 'accounts/main2.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
            {% for coursename in course %}
                <div class="col-md-4"></div>
                <div class="col-md-4 btn btn-dark my-2">{{coursename}}</div>
                <div class="col-md-4"></div>
            {% endfor %}
    </div>
    <div class="card card-body my-4">
        <form action="" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <input class="btn btn-info" type="submit" value="Add Course">
        </form>
    </div>

{% endblock %}